<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table border="1">
  <thead>
    <tr>      
      <th>Name</th>
      <th colspan="3">Take Action</th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to 'Show', team %></td>
      <% if can? :manage, Team %>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path  if can? :manage, Team %>
